# Data Cleaning and Preprocessing Steps

This notebook follows a structured approach to clean and preprocess the CPL dataset for analysis and modeling. Each step is implemented in a separate code cell for clarity and reproducibility.

In [10]:
# Step 1: Import libraries and load data
import pandas as pd
import numpy as np

# Load the dataset
data = pd.read_csv('final_anonymized.csv', sep=';')
data.head()

/tmp/ipykernel_2267841/3047212937.py:6: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('final_anonymized.csv', sep=';')

,Cost per Lead_anon,Click-Through Rate,Conversion Rate,date,year,month,day,week,quater,day_of_the_week,...,ad_name_anon,ad_set_name_anon,customer_name_anon,traffic_source_campaign_name_anon,traffic_source_anon,campaign_name_anon,campaign_group_name_anon,vertical_anon,country_anon,business_region_anon
0,NaN,0.009532,0.0,16-8-2021,2021,8,16,33,3,1,...,ad_name_001,ad_set_name_001,customer_name_001,traffic_source_campaign_name_001,traffic_source_001,campaign_name_001,campaign_group_name_001,vertical_001,country_001,business_region_001
1,NaN,0.009532,0.0,16-8-2021,2021,8,16,33,3,1,...,ad_name_001,ad_set_name_001,customer_name_001,traffic_source_campaign_name_001,traffic_source_001,campaign_name_002,campaign_group_name_001,vertical_001,country_001,business_region_001
2,NaN,0.050000,0.0,16-8-2021,2021,8,16,33,3,1,...,ad_name_002,ad_set_name_002,customer_name_001,traffic_source_campaign_name_001,traffic_source_001,campaign_name_001,campaign_group_name_001,vertical_001,country_001,business_region_001
3,NaN,0.050000,0.0,16-8-2021,2021,8,16,33,3,1,...,ad_name_002,ad_set_name_002,customer_name_001,traffic_source_campaign_name_001,traffic_source_001,campaign_name_002,campaign_group_name_001,vertical_001,country_001,business_region_001
4,NaN,0.000000,0.0,16-8-2021,2021,8,16,33,3,1,...,ad_name_003,ad_set_name_002,customer_name_001,traffic_source_campaign_name_001,traffic_source_001,campaign_name_001,campaign_group_name_001,vertical_001,country_001,business_region_001

In [11]:
data.dtypes

Cost per Lead_anon                    object
Click-Through Rate                   float64
Conversion Rate                       object
date                                  object
year                                   int64
month                                  int64
day                                    int64
week                                   int64
quater                                 int64
day_of_the_week                        int64
day_of_week_name                      object
campaign_max_day                     float64
campaign_max_month                   float64
campaign_max_total                   float64
campaign_max_week                    float64
target_business_anon                  object
target_region_anon                    object
ad_name_anon                          object
ad_set_name_anon                      object
customer_name_anon                    object
traffic_source_campaign_name_anon     object
traffic_source_anon                   object
campaign_name_anon                    object
campaign_group_name_anon              object
vertical_anon                         object
country_anon                          object
business_region_anon                  object
dtype: object

In [12]:
# Step 2: Handle missing values
# Numeric columns to fill with median
numeric_cols = ['campaign_max_day', 'campaign_max_month', 'campaign_max_total', 'campaign_max_week']
for col in numeric_cols:
    if col in data.columns:
        data[col] = pd.to_numeric(data[col], errors='coerce')
        data[col] = data[col].fillna(data[col].median())

# Categorical columns to fill with 'Unknown'
categorical_cols = ['target_business_anon', 'target_region_anon']
for col in categorical_cols:
    if col in data.columns:
        data[col] = data[col].fillna('Unknown')

data.head()

,Cost per Lead_anon,Click-Through Rate,Conversion Rate,date,year,month,day,week,quater,day_of_the_week,...,ad_name_anon,ad_set_name_anon,customer_name_anon,traffic_source_campaign_name_anon,traffic_source_anon,campaign_name_anon,campaign_group_name_anon,vertical_anon,country_anon,business_region_anon
0,NaN,0.009532,0.0,16-8-2021,2021,8,16,33,3,1,...,ad_name_001,ad_set_name_001,customer_name_001,traffic_source_campaign_name_001,traffic_source_001,campaign_name_001,campaign_group_name_001,vertical_001,country_001,business_region_001
1,NaN,0.009532,0.0,16-8-2021,2021,8,16,33,3,1,...,ad_name_001,ad_set_name_001,customer_name_001,traffic_source_campaign_name_001,traffic_source_001,campaign_name_002,campaign_group_name_001,vertical_001,country_001,business_region_001
2,NaN,0.050000,0.0,16-8-2021,2021,8,16,33,3,1,...,ad_name_002,ad_set_name_002,customer_name_001,traffic_source_campaign_name_001,traffic_source_001,campaign_name_001,campaign_group_name_001,vertical_001,country_001,business_region_001
3,NaN,0.050000,0.0,16-8-2021,2021,8,16,33,3,1,...,ad_name_002,ad_set_name_002,customer_name_001,traffic_source_campaign_name_001,traffic_source_001,campaign_name_002,campaign_group_name_001,vertical_001,country_001,business_region_001
4,NaN,0.000000,0.0,16-8-2021,2021,8,16,33,3,1,...,ad_name_003,ad_set_name_002,customer_name_001,traffic_source_campaign_name_001,traffic_source_001,campaign_name_001,campaign_group_name_001,vertical_001,country_001,business_region_001

In [13]:
# Step 3: Convert data types
# Convert numeric columns
numeric_conversion = ['Cost per Lead_anon', 'Click-Through Rate', 'Conversion Rate']
for col in numeric_conversion:
    if col in data.columns:
        data[col] = pd.to_numeric(data[col], errors='coerce')

# Convert 'date' column to datetime
if 'date' in data.columns:
    data['date'] = pd.to_datetime(data['date'], format='%d-%m-%Y', errors='coerce')

data.dtypes

Cost per Lead_anon                          float64
Click-Through Rate                          float64
Conversion Rate                             float64
date                                 datetime64[ns]
year                                          int64
month                                         int64
day                                           int64
week                                          int64
quater                                        int64
day_of_the_week                               int64
day_of_week_name                             object
campaign_max_day                            float64
campaign_max_month                          float64
campaign_max_total                          float64
campaign_max_week                           float64
target_business_anon                         object
target_region_anon                           object
ad_name_anon                                 object
ad_set_name_anon                             object
customer_name_anon                           object
traffic_source_campaign_name_anon            object
traffic_source_anon                          object
campaign_name_anon                           object
campaign_group_name_anon                     object
vertical_anon                                object
country_anon                                 object
business_region_anon                         object
dtype: object

In [14]:
# Step 4: Remove or correct incorrect data
# Ensure Conversion Rate and Click-Through Rate are between 0 and 1
for col in ['Conversion Rate', 'Click-Through Rate']:
    if col in data.columns:
        data[col] = data[col].clip(lower=0, upper=1)

data[[col for col in ['Conversion Rate', 'Click-Through Rate'] if col in data.columns]].describe()

       Conversion Rate  Click-Through Rate
count    118336.000000       118337.000000
mean          0.076544            0.012032
std           0.180619            0.022234
min           0.000000            0.000000
25%           0.000000            0.000000
50%           0.000000            0.007716
75%           0.032258            0.014742
max           1.000000            1.000000

In [23]:
# Step 5: Handle duplicates
# Remove duplicate rows
print(f"Number of rows before removing duplicates: {len(data)}")
data = data.drop_duplicates()
print(f"Number of rows after removing duplicates: {len(data)}")

Number of rows before removing duplicates: 118337
Number of rows after removing duplicates: 118337

In [16]:
# Step 6: Feature engineering
# Create day_of_year and week_of_year features
if 'date' in data.columns:
    data['day_of_year'] = data['date'].dt.dayofyear
    data['week_of_year'] = data['date'].dt.isocalendar().week

# Lag feature: previous day's cost per lead (grouped by campaign if available)
if 'Cost per Lead_anon' in data.columns:
    if 'campaign_name_anon' in data.columns:
        data = data.sort_values(['campaign_name_anon', 'date'])
        data['prev_day_cpl'] = data.groupby('campaign_name_anon')['Cost per Lead_anon'].shift(1)
    else:
        data = data.sort_values('date')
        data['prev_day_cpl'] = data['Cost per Lead_anon'].shift(1)

data.head()

,Cost per Lead_anon,Click-Through Rate,Conversion Rate,date,year,month,day,week,quater,day_of_the_week,...,traffic_source_campaign_name_anon,traffic_source_anon,campaign_name_anon,campaign_group_name_anon,vertical_anon,country_anon,business_region_anon,day_of_year,week_of_year,prev_day_cpl
24271,NaN,0.010471,0.0,2021-06-03,2021,6,3,22,2,4,...,traffic_source_campaign_name_001,traffic_source_001,campaign_name_001,campaign_group_name_001,vertical_001,country_001,business_region_001,154,22,NaN
24273,NaN,0.013889,0.0,2021-06-03,2021,6,3,22,2,4,...,traffic_source_campaign_name_001,traffic_source_001,campaign_name_001,campaign_group_name_001,vertical_001,country_001,business_region_001,154,22,NaN
24275,NaN,0.014550,0.0,2021-06-03,2021,6,3,22,2,4,...,traffic_source_campaign_name_001,traffic_source_001,campaign_name_001,campaign_group_name_001,vertical_001,country_001,business_region_001,154,22,NaN
64345,NaN,0.017273,0.0,2021-06-04,2021,6,4,22,2,5,...,traffic_source_campaign_name_001,traffic_source_001,campaign_name_001,campaign_group_name_001,vertical_001,country_001,business_region_001,155,22,NaN
64347,NaN,0.021459,0.0,2021-06-04,2021,6,4,22,2,5,...,traffic_source_campaign_name_001,traffic_source_001,campaign_name_001,campaign_group_name_001,vertical_001,country_001,business_region_001,155,22,NaN

In [17]:
# Step 7: Outlier detection and treatment
# Use IQR to cap outliers in numeric columns
numeric_cols_for_outliers = ['Cost per Lead_anon', 'Click-Through Rate', 'Conversion Rate', 'campaign_max_day', 'campaign_max_month', 'campaign_max_total', 'campaign_max_week']
for col in numeric_cols_for_outliers:
    if col in data.columns:
        Q1 = data[col].quantile(0.25)
        Q3 = data[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        data[col] = np.where(data[col] < lower_bound, lower_bound, data[col])
        data[col] = np.where(data[col] > upper_bound, upper_bound, data[col])

data[numeric_cols_for_outliers].describe()

,Cost per Lead_anon,Click-Through Rate,Conversion Rate,campaign_max_day,campaign_max_month,campaign_max_total,campaign_max_week
count,44299.000000,118337.000000,118336.000000,118337.000000,118337.0,118337.000000,118337.0
mean,0.007531,0.010226,0.019275,332.968640,0.0,1944.849675,0.0
std,0.008852,0.010691,0.033231,370.736695,0.0,1649.776328,0.0
min,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0
25%,0.000000,0.000000,0.000000,37.000000,0.0,1000.000000,0.0
50%,0.004155,0.007716,0.000000,100.000000,0.0,1400.000000,0.0
75%,0.011011,0.014742,0.032258,785.000000,0.0,2700.000000,0.0
max,0.027528,0.036855,0.080645,1600.000000,0.0,5250.000000,0.0

## What is IQR?

The Interquartile Range (IQR) is a measure of statistical dispersion, or how spread out the values in a dataset are. It is calculated as the difference between the third quartile (Q3, the 75th percentile) and the first quartile (Q1, the 25th percentile):

$$
\text{IQR} = Q3 - Q1
$$

- **Q1 (First Quartile):** The value below which 25% of the data fall.
- **Q3 (Third Quartile):** The value below which 75% of the data fall.

The IQR is commonly used to detect outliers. Values that fall below $Q1 - 1.5 \times IQR$ or above $Q3 + 1.5 \times IQR$ are often considered outliers.

In [18]:
# Step 8: Normalize/standardize numeric features
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
numeric_cols_to_scale = ['Cost per Lead_anon', 'Click-Through Rate', 'Conversion Rate', 'campaign_max_day', 'campaign_max_month', 'campaign_max_total', 'campaign_max_week', 'prev_day_cpl']
for col in numeric_cols_to_scale:
    if col in data.columns:
        data[col] = scaler.fit_transform(data[[col]])

data[numeric_cols_to_scale].head()

,Cost per Lead_anon,Click-Through Rate,Conversion Rate,campaign_max_day,campaign_max_month,campaign_max_total,campaign_max_week,prev_day_cpl
24271,NaN,0.022907,-0.580028,-0.803724,0.0,-0.577565,0.0,NaN
24273,NaN,0.342594,-0.580028,-0.803724,0.0,-0.577565,0.0,NaN
24275,NaN,0.404390,-0.580028,-0.803724,0.0,-0.577565,0.0,NaN
64345,NaN,0.659183,-0.580028,-0.803724,0.0,-0.577565,0.0,NaN
64347,NaN,1.050717,-0.580028,-0.803724,0.0,-0.577565,0.0,NaN

In [19]:
# Step 9: Encode categorical variables
# One-hot encode selected categorical columns
categorical_to_encode = ['day_of_week_name', 'ad_name_anon', 'campaign_name_anon', 'target_business_anon', 'target_region_anon']
categorical_to_encode = [col for col in categorical_to_encode if col in data.columns]
data = pd.get_dummies(data, columns=categorical_to_encode, drop_first=True)
data.head()

,Cost per Lead_anon,Click-Through Rate,Conversion Rate,date,year,month,day,week,quater,day_of_the_week,...,campaign_name_anon_campaign_name_015,campaign_name_anon_campaign_name_016,campaign_name_anon_campaign_name_017,campaign_name_anon_campaign_name_018,target_business_anon_target_business_001,target_business_anon_target_business_002,target_business_anon_target_business_003,target_business_anon_target_business_004,target_region_anon_target_region_001,target_region_anon_target_region_002
24271,NaN,0.022907,-0.580028,2021-06-03,2021,6,3,22,2,4,...,False,False,False,False,False,False,False,False,False,False
24273,NaN,0.342594,-0.580028,2021-06-03,2021,6,3,22,2,4,...,False,False,False,False,False,False,False,False,False,False
24275,NaN,0.404390,-0.580028,2021-06-03,2021,6,3,22,2,4,...,False,False,False,False,False,False,False,False,False,False
64345,NaN,0.659183,-0.580028,2021-06-04,2021,6,4,22,2,5,...,False,False,False,False,False,False,False,False,False,False
64347,NaN,1.050717,-0.580028,2021-06-04,2021,6,4,22,2,5,...,False,False,False,False,False,False,False,False,False,False

In [20]:
# Step 10: Check for data consistency
# Validate day_of_week_name entries
valid_days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
if 'day_of_week_name' in data.columns:
    invalid_days = set(data['day_of_week_name'].unique()) - set(valid_days)
    print(f"Invalid day_of_week_name entries: {invalid_days}")

In [21]:
# Step 11: Remove unnecessary columns
# Drop columns not useful for analysis or prediction
# Example: drop columns with all missing values or high correlation
cols_to_drop = [col for col in data.columns if data[col].isnull().all()]
data.drop(columns=cols_to_drop, inplace=True)

# Optionally, drop columns by name if known to be redundant
# data.drop(columns=['some_column'], inplace=True)

data.head()

,Cost per Lead_anon,Click-Through Rate,Conversion Rate,date,year,month,day,week,quater,day_of_the_week,...,campaign_name_anon_campaign_name_015,campaign_name_anon_campaign_name_016,campaign_name_anon_campaign_name_017,campaign_name_anon_campaign_name_018,target_business_anon_target_business_001,target_business_anon_target_business_002,target_business_anon_target_business_003,target_business_anon_target_business_004,target_region_anon_target_region_001,target_region_anon_target_region_002
24271,NaN,0.022907,-0.580028,2021-06-03,2021,6,3,22,2,4,...,False,False,False,False,False,False,False,False,False,False
24273,NaN,0.342594,-0.580028,2021-06-03,2021,6,3,22,2,4,...,False,False,False,False,False,False,False,False,False,False
24275,NaN,0.404390,-0.580028,2021-06-03,2021,6,3,22,2,4,...,False,False,False,False,False,False,False,False,False,False
64345,NaN,0.659183,-0.580028,2021-06-04,2021,6,4,22,2,5,...,False,False,False,False,False,False,False,False,False,False
64347,NaN,1.050717,-0.580028,2021-06-04,2021,6,4,22,2,5,...,False,False,False,False,False,False,False,False,False,False

In [22]:
# Step 12: Data splitting
from sklearn.model_selection import train_test_split

# Example: Assume 'Cost per Lead_anon' is the target variable
target = 'Cost per Lead_anon'
features = [col for col in data.columns if col != target]

X = data[features]
y = data[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(f"Train shape: {X_train.shape}, Test shape: {X_test.shape}")

Train shape: (94669, 456), Test shape: (23668, 456)